<div class="site-footer">
    <div class="container">
      <div class="row justify-content-center copyright">
        <div class="col-lg-7 text-center">
          <div class="widget">
            <ul class="social list-unstyled">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-youtube-play"></span></a></li>
            </ul>
          </div>
          <div class="widget">
              <p>&copy; ISMIC <script>document.write(new Date().getFullYear());</script></p>
              </p>
          </div>
        </div>
    </div>
  </div>